* {
    font-family: "Jaturat", sans-serif, Arial;
    box-sizing: border-box;
    overflow: auto;
}
body {
    background-color: black;
    margin: 0;
    overflow: auto;
}
#logo {
    margin-top: 10px;
    margin-left: 120px;
    max-width: 40%;
    height: auto;
    
}
.header {
    background-color: black;
    display: flex;
    color: #FAFB63;
    font-size: 24px;
    min-width: 160px;
    width: 100%;
    position: fixed;
    z-index: 4;
}
.nav-button {
    background-color: #43bb47;
    border: none;
    color: #FAFB63;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 20px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.nav-button:hover {
    background-color: #37903b; 
  }
.hero {
    background-color: black;
    color: #FAFB63;
    font-size: 61px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-img {
    position: absolute;
    margin-right: 700px;

    z-index: 1;
}
#figure {
    margin: 50px;
    max-width: 80%;
    height: auto;
}
.hero-text {
    width: 650px;
    text-align: center;
    font-weight: 600;
    z-index: 2;
}
#main-header {
    font-style: italic;
    font-weight: 600;
    line-height: 1;
}
.team {
    background-color: black;
    color: white;
    height: 800px;
    display: flex;
}
@media (max-width: 850px) {
    .team {
    flex-direction: column;
    }
    .team-text {

    }
    #team-img {
        display: none;
    }
    #figure {
        display: none;
    }

}
.team-text {
    margin: 50px;
    width: 700px;
    font-style: italic;
}
.team-text > h2 {
    font-size: 60px;
    color: #6BFFF7;
    line-height: 1;
}
#team-img {
    margin-top: 120px;
    margin-left: 50px;
    position: absolute;
    max-width: 30%;
    height: auto;
}
.join {
    background-color: black;
    color: #FAFB63;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.join > h2 {
    padding: 10px;
    font-size: 60px;
    color: #6BFFF7;
    font-style: italic;
}
.join > p {
    font-size: 25px;
    margin: 0;
    padding: 0 15px;
    font-style: italic;
}
#join-btn {
    background-color: #6BFFF7;
    border: none;
    color: black;
    padding: 14px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: sans-serif;
    font-size: 16px;
    margin: 100px 20px;
    cursor: pointer; 
}
.gallery {
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.gallery > h2 {
    font-size: 50px;
    color: #6BFFF7;
}
.thumbnails {
    display: flex;
    flex-wrap: wrap;
}
.thumbnails img {
    height: 100px;
    width: auto;
    margin: 5px;
    cursor: pointer;
}
.full-image-container {
    margin-top: 20px;
}
.full-image {
    max-width: 100%;
    height: auto;
}
.contact {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact > h2 {
    font-size: 50px;
    font-style: italic;
    color: #6BFFF7;
}
#contact-img {
    margin-top: 50px;
    max-width: 40%;
    height: auto;
    position: absolute;
}
.contact-box {
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
}
.contacts {
    display: flex;
    color: white;
    flex-direction: column;
}
.social-box {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.social {
    max-width: 100%;
    height: auto;
}
.footer {
    text-align: center;
    color: white;
}